* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #0a5c5c;
}
h1 {
  margin: 40px;
  text-align: center;
}
form {
  width: 500px;
  display: flex;
  flex-direction: column;
}

label {
  font-family: 600;
  margin-bottom: 10px;
}
.input {
  padding: 10px;
  margin-bottom: 20px;
  color: #0a5c5c;
  font-weight: 500;
  outline: none;
  border: none;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #5353ec;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.btn-clear {
  width: 100%;
  padding: 10px;
  background-color: #d11507;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  visibility: hidden;
}
.error-text {
  text-align: center;
  font-weight: bold;
}

#results {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  text-decoration: dashed;
}

footer {
  position: absolute;
  top: 97vh;
  font-size: 14px;
}

@media (max-width: 540px) {
  form {
    width: 280px;
  }
}
